.App {
  padding: 30px;
  display: grid;
  justify-items: center;
}

.App__title {
  margin: 0px;
  padding-bottom: 50px;
}

.hi {
  width: auto;
  max-width: 1200px;
}

.news__wrapper {
  display: grid;
  justify-items: center;
  grid-gap: 40px;
}

.news__card {
  max-width: 344px;
  min-width: 240px;
  height: 371px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  background-color: white;
}

.news__card__image {
  max-width: 344px;
  min-width: 240px;
  height: 213px;
  display: grid;
  align-items: center;
  object-fit: fill;
}

.news__card__image img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.news__card__head {
  padding: 16px 16px 0px 16px;
  margin: 0px;
  min-height: 86.5px;
}

.news__card__head {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.news__card__text {
  font-size: 14px;
  opacity: 0.6;
  padding: 16px 16px 0px 16px;
}

.news__card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 16px;
}

.news__card__actions {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .news__wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .news__wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    grid-gap: 40px;
  }
}
